{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block title %}
Bookings list
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{% static "js/jquery-ui-1.11.4/jquery-ui.min.css" %}'>
<link rel="stylesheet" href='{% static "js/jquery.multiselect.css" %}'>
<link rel="stylesheet" href='{% static "js/jquery.multiselect.filter.css" %}'>
<script src='{% static "js/jquery-1.12.0.min.js" %}'></script>
<script src='{% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}'></script>
<script src='{% static "js/jquery-cookie-1.4.1/jquery.cookie.js" %}'></script>
<script src='{% static "js/jquery.multiselect.min.js" %}'></script>
<script src='{% static "js/jquery.multiselect.filter.js" %}'></script>
<script src='{% static "js/moment.min.js" %}'></script>
<script src='{% static "js/moment-timezone-with-data.min.js" %}'></script>

<style>
input.dpicker { width: 6em }
input.tpicker { width: 6em }
p.centered { text-align: center; }
tr.conflict { color: red }
table.tcentered {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
}
table.tboxed {
  border-collapse: collapse;
  border: 1px solid black;
}
td, th { padding: 5px; }
p#messages { color: red; }

table tbody tr td.busy a.ui-state-default {
  background-color: White;
  background-image: none;
  color: Purple;
  font-weight: bold;
}
table tbody tr td.conflicted a.ui-state-default {
  background-color: Blue;
  background-image: none;
  color: Red;
  font-weight: bold;
}
table tbody tr td.selected a.ui-state-default {
  background-color: Blue;
  background-image: none;
  color: White;
  font-weight: bold;
}
</style>
{% endblock %}
{% block content %}

<p>
<b>View:</b>
<select id='select_resource' multiple='multiple'></select>
<select id='select_user' multiple='multiple'></select>
<select id='select_tz' multiple='multiple'></select>
</p>

<p>
<div id='begindate'></div>
</p>

<p>
<b>Book:</b>
<select id='book_resource' multiple='multiple'></select>
<select id='book_user' multiple='multiple'></select>
<select id='book_group' multiple='multiple'></select>
<br>
<table class='tboxed' border="1">
<tr>
  <td id='startdate'>From:</td>
  <td><input id='starttime' class='tpicker' type='text'></td>
  <td id='stopdate'>To:</td>
  <td><input id='stoptime' class='tpicker' type='text'></td>
</tr>
<tr>
  <td><button id='clear_date'>Clear date range</button></td>
  <td><button id='clear_time'>Default times</button></td>
  <td><button id='request_button'>New Booking</button></td>
  <td><button id='replace_button'>Replace</button></td>
</tr>
</table>

<p id="messages">
{% if messages %}
  <ul>
  {% for msg in messages %}
  <li>{{ msg }}
  {% endfor %}
  </ul>
{% endif %}
</p>

<p>
<table class="tboxed" border="1">
<thead><tr><th></th><th>In</th><th>Out</th><th>Resource</th><th>Name</th><th>Group</th></tr></thead>
<tbody id='details'>
</tbody>
</table>
<br>
<button id='delete_button'>Delete</button>
</p>

{% endblock %}
{% block scripts %}
<script>

var is_superuser = false; // later should read context
var is_admin = false;
var user_pk = 0;
var user_name = '';
var user_group_pk = 0; // default charging group for this user
var res_use = []; // resources which the user can use
var res_admin = []; // resources which the user can administer

// configuration information
var resources = [];
var users = [];
var groups = [];
var admin_groups = [];

// to add, busy_days[new Date()] = tooltip
// (actually should use moment objects instead?)
var busy_days = [];

// booking data
var bdata = []; // indexed by booking pk
var bsorted = []; // in order of start time
var lastfetchtime = $.now(); // ms since 1 Jan 1970
var msday = 24*60*60*1000; // ms in a day
// current range of booking data fetched
var bdbegin = lastfetchtime - 32*msday; // 31 days past
var bdend = lastfetchtime + 400*msday; // 400 days in future
// current first date being displayed (need to check timezone by now!)
// should always be set to first day of month, at beginning of day
var displaybegin = lastfetchtime; // actually overridden in initialization, along with displayend
var displayend = displaybegin + 92 * msday; // 92 days should clear 3 months
var currentzone = null;
// check sometime whether starts display in next month!

// date selection
var dsbegin = null; // Date (use getTime to compare)
var dsend = null;
var dtformat = 'ddd D MMM YYYY H:mm z'; // moment.tz format string
var dformat = 'ddd D MMM YYYY'; // moment.tz format string

// previous default times, so can tell whether it's been changed explicitly
var old_default_begin = "";
var old_default_end = "";

// ways to update the displayed calendar
//   call whenever there is new data, or change display (such as timezone or resource list)
function update_bookings() {
  var res = [];
  var usr = [];
  var aa = $('#select_resource').val();
  if (aa != null) aa.forEach(function(v) { res.push(parseInt(v)); });
  aa = $('#select_user').val();
  if (aa != null) aa.forEach(function(v) { usr.push(parseInt(v)); });
  console.log(res);
  console.log(usr);
  var bd = [];
  var s = [];
  for (var iday = 0; iday < 92; ++iday) bd[iday] = [];
  console.log('bsorted length = ' + bsorted.length);
  bsorted.forEach(function(d, j) {
    console.log('update_bookings ' + moment(d.tb).format());
    if (usr.length > 0 && !usr.includes(d.u)) return; // booking user not selected
    if (res.length > 0 && !res.includes(d.r)) return; // booking resource not selected
    console.log(' e ' + d.te + ' ' + displaybegin);
    console.log(' b ' + d.tb + ' ' + displayend);
    if (d.te < displaybegin) return; // clearly ends before display range
    if (d.tb > displayend) return; // clearly begins after display range
    console.log('in scope ' + d.tb);
    //var dt0 = d.tb.clone().startOf('day');
    //var dt1 = d.te.clone().startOf('day');
    var dt0 = moment.tz(d.tb, currentzone);
    var dt1 = moment.tz(d.te, currentzone);
    s.push('<tr class="blist" id="det' + d.bpk + '"><td>');
    // add checkbox here if users can edit/delete
    // <input type="checkbox" class="bsel" id="ticknnn">
    // where nnn is d.bpk.
    if (is_superuser || (is_admin && res_admin.includes(d.r)) ||
        (user_pk == d.u && res_use.includes(d.u))) {
      s.push('<input type="checkbox" class="bsel" id="tick' + d.bpk + '">');
    }
    s.push('</td><td>' +
                        dt0.format(dtformat) + '</td><td>' +
                        dt1.format(dtformat) + '</td><td>' +
                        resources[d.r].n + '</td><td>' +
                        users[d.u].fn + '</td><td>' +
                        groups[d.g].n + '</td></tr>');
    //var daybook = dt0.isSame(dt1, 'day'); // color anyway (even if 0-length booking!)
    while (!dt0.isAfter(dt1, 'day')) {
      var iday = Math.floor((dt0.valueOf() - displaybegin) / msday);
      if (iday < 0 || iday >= 92) continue;
      if (bd[iday]) {
        bd[iday].push(users[d.u].n);
        //console.log("found a booking day " + iday + ": " + dt0.format());
      } else {
        bd[iday] = [ users[d.u].n ];
        //console.log("found a booking start " + iday + ": " + dt0.format());
      }
      //if (daybook) break;
      dt0.add(1, 'days');
    }
  });
  //console.log('bd ' + bd);
  // consolidate booking days
  //   whoops:  indexed by begin date/time at minute granularity; this lookup by day
  for (var iday = 0; iday < 92; ++iday) {
    if (bd[iday].length > 0) {
      busy_days[iday] = bd[iday].join(', ');
      //console.log("found a busy day " + iday + ": " + busy_days[iday]);
    } else {
      busy_days[iday] = null;
    }
  }
  //console.log("busy_days = " + busy_days);
  // list bookings
  $('#details').html(s.join(''));
  $('.bsel').on('click', check_edit_conditions);
  $('#begindate').datepicker('refresh');
}

function update_selection() {
  $('#begindate').datepicker('refresh');
  if (dsbegin == null || dsend == null || $('#book_resource').val() == null) {
    $('.blist').removeClass('conflict');
    return;
  }
  var rlist = $('#book_resource').val();
  var rpks = [];
  for (var i = 0; i < rlist.length; ++i) rpks.push(parseInt(rlist[i]));
  console.log('update_selection');
  console.log(rpks);
  bdata.forEach(function(d, j) {
    if (!rpks.includes(d.r)) {
      $('#det' + d.bpk).removeClass('conflict');
      return;
    }
    var rbegin = d.tb;
    var rend = d.te;
    if ((rbegin < dsend + msday && rend > dsbegin) ||
        (dsbegin < rend && dsend > rbegin)) {
      $('#det' + d.bpk).addClass("conflict");
    } else {
      $('#det' + d.bpk).removeClass("conflict");
    }
  });
}

// set default time of first resource in current timezone
function update_resource_selection() {
  var r = $('#book_resource').prop('value');
  //console.log('update_resouce_selection ' + r);
  if (r != null && r != '') {
    var rpk = parseInt(r);
    // only change if not explicitly set before
    var v = $('#starttime').prop('value');
    if (v == old_default_begin || v == '' || old_default_begin == '') {
      old_default_begin = parseTimeStringZone(resources[rpk].dbt, resources[rpk].dz, currentzone);
      $('#starttime').prop('value', old_default_begin);
    }
    v = $('#stoptime').prop('value');
    if (v == old_default_end || v == '' || old_default_end == '') {
      old_default_end = parseTimeStringZone(resources[rpk].det, resources[rpk].dz, currentzone);
      $('#stoptime').prop('value', old_default_end);
    }
    // select to view if not already done so.
    // if not selected before, then call update_bookings() as well.
    // (Actually, don't need this.  select_resource defaults to see-all,
    // so will see potential conflicts anyway.  Should use select_resource
    // to narrow down conflicts.)
    //var vv = $('#select_resource').val();
    //if (vv == null) vv = [];
    //if (!(r in vv)) {
    //  vv.push(r);
    //  $('#select_resource').val(vv);
    //  $('#select_resource').multiselect('refresh');
    //  update_bookings();
    //}
  }
  check_request_conditions();
  update_selection();
}

function reload_bookings() {
  $.getJSON('{% url "swap:bookings_json" %}',
            { 'e0': Math.floor(bdbegin/1000), 'b1': Math.floor(bdend/1000) },
            fill_bookings);
}

// year, month, day, hour, minute (but server sends in UTC zone)
function from_date_array(a) {
  //return new Date(a[0], a[1]-1, a[2], a[3], a[4]);
  var b = [ a[0], a[1]-1, a[2], a[3], a[4], 0, 0 ];
  return moment.utc(b);
}

function from_date_array_zone(a, z) {
  var b = [ a[0], a[1]-1, a[2], a[3], a[4], 0, 0 ];
  return moment.tz(b, z);
}

function fill_bookings(data) {
  console.log('fill_bookings()');
  console.log(data);
  var z = currentzone;
  bdata = [];
  bsorted = [];
  data.b.forEach(function(d,j) {
    var a = { 'u': d.u, 'b': d.b, 'g': d.g, 'r': d.r, 'bpk': d.bpk,
              'tb': d.tb * 1000,
              'te': d.te * 1000,
              'tr': from_date_array(d.tr),
              'tm': from_date_array(d.tm) };
    //bdata.push(a);
    bdata[d.bpk] = a;
    bsorted.push(a);
  });
  bsorted.sort(function(a,b) { return a.tb - b.tb; });
  update_bookings();
  // need to do a deep copy of data to current_data;
  // or change update_days to select from persistent selectors
}

// selected a user, at least one resource, and a date range
function check_request_conditions() {
  var v = false;
  if (dsbegin == null || dsend == null) v = true;
  if ($('#book_user').val() == null) v = true;
  if ($('#book_resource').val() == null) v = true;
  $('#request_button').button('option', 'disabled', v);
}

function check_edit_conditions() {
  // replace:  only one can be checked
  // delete:  any number can be checked
  var n = $('.bsel:checked').length;
  $('#replace_button').button('option', 'disabled', (n!=1));
  $('#delete_button').button('option', 'disabled', (n==0));
  // if only one ticked, change selection to reflect
  if (n == 1) {
    // $('.bsel:checked').parent().parent() points to tr with det<pk>,
    // use attr() to get string 'det<pk>'
    var pk = parseInt($('.bsel:checked').parents('.blist').attr('id').substr(3));
    dsbegin = bdata[pk].tb;
    dsend = bdata[pk].te;
    var mt = moment.tz(dsbegin, currentzone);
    $('#startdate').html('From: ' + mt.format(dformat));
    $('#starttime').prop('value', mt.format('H:mm'));
    dsbegin = mt.startOf('day').valueOf();
    mt = moment.tz(dsend, currentzone);
    $('#stopdate').html('To: ' + mt.format(dformat));
    $('#stoptime').prop('value', mt.format('H:mm'));
    dsend = mt.startOf('day').valueOf();
    $('#book_user').val(bdata[pk].u).multiselect('refresh');
    $('#book_resource').val(bdata[pk].r).multiselect('refresh');
    $('#book_group').val(bdata[pk].g).multiselect('refresh');
    // Code below propagages book_resource to select_resource,
    // but it also clears booking selection.
    // Actually select_resource defaults to select-all,
    // so there's no particular need to propagate.
    // (Only an issue if had used select_resource before,
    // and hadn't selected the intended resource to book.
    // Maybe not a big deal.)
    //var vv = $('#select_resource').val();
    //var r = $('#book_resource').prop('value');
    //if (vv == null) vv = [];
    //if (!(r in vv)) {
    //  vv.push(r);
    //  $('#select_resource').val(vv);
    //  $('#select_resource').multiselect('refresh');
    //  update_bookings();
    //}
    check_request_conditions();
    update_selection();
  }
}

function post_messages(msg) {
  var t = [];
  if (msg.length > 0) {
    t.push('<ul>');
    for (var i = 0; i < msg.length; ++i) t.push('<li>' + msg[i]);
    t.push('</ul>');
    $('#messages').html(t.join(''));
  } else {
    $('#messages').html('');
  }
}

function read_booking_data() {
  if (dsbegin == null || dsend == null) return null;

  var upk = $('#book_user').prop('value');
  if (upk == null || upk == '') return null;

  var rpks = $('#book_resource').val();
  if (rpks == null) return null;

  var gpk = $('#book_group').prop('value');
  if (gpk == null || gpk == '') return null;

  var s = $('#starttime').prop('value');
  if (s == null || s == "") return null;
  var t = parseTimeString(s);
  if (t == null) return null;
  var db = moment.tz(dsbegin, currentzone);
  db.hour(t.h).minute(t.m);

  s = $('#stoptime').prop('value');
  if (s == null || s == "") return null;
  t = parseTimeString(s);
  if (t == null) return null;
  var de = moment.tz(dsend, currentzone);
  de.hour(t.h).minute(t.m);

  // remember all times in javascript are in ms,
  // but on server side times are in seconds
  return { 'uu': upk,
           'rr': rpks, 
           'gg': gpk,
           'bb': Math.floor(db.valueOf()/1000),
           'ee': Math.floor(de.valueOf()/1000),
           'zz': currentzone,
           'e0': Math.floor(bdbegin/1000),
           'b1': Math.floor(bdend/1000)
         };
}

$.datepicker.setDefaults({
  //"dateFormat": "dd/mm/yy",
  "dateFormat": "dd M yy"
});

// based on http://www.timlabonne.com/2013/07/parsing-a-time-string-with-javascript/
// understands 1pm, 1:00pm, 1:00p, 13:00.  Returns NaN if can't parse at all.
function parseTime(timeStr, dt) {
  if (!dt) {
    dt = new Date();
  }
 
  var time = timeStr.match(/(\d+)(?::(\d\d))?\s*(p?)/i);
  if (!time) {
    return NaN;
  }
  var hours = parseInt(time[1], 10);
  dt.setHours(hours);
  dt.setMinutes(parseInt(time[2], 10) || 0);
  dt.setSeconds(0, 0);
  return dt;
}

function parseTimeString(timeStr) {
  var time = timeStr.match(/(\d+)(?::(\d\d))?\s*(p?)/i);
  if (!time) {
    return null;
  }
  var v = { 'h': parseInt(time[1], 10),
            'm': parseInt(time[2], 10) || 0 }
  return v;
}

function parseTimeStringZone(timeStr, oldzone, newzone) {
  if (timeStr == null || timeStr == '') return '';
  var t = parseTimeString(timeStr);
  var d = moment(displaybegin).tz(oldzone);
  d.hour(t.h).minute(t.m);
  d.tz(newzone);
  return d.format('H:mm');
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var csrftoken = $.cookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
//"csrfmiddlewaretoken" is a key in your posted data,for example,
//when you need to ajax login,your posted data may like this:
// {'username':'username','password':'password',
//  'csrfmiddlewaretoken':'CSRF-TOKEN-V<U+200C><U+200B>ALUE'} – 

$(document).ready(function() {

  // get configuration information
  $.getJSON('{% static "json/config.json" %}', function(indata) {
    data = indata.data;
    data.res.forEach(function(d,j) {
      resources[d.pk] = {
        'n': d.name,
        'dbt': d.dbt,
        'det': d.det,
        'dz': d.dz };
    });
    data.us.forEach(function(d,j) {
      users[d.pk] = { 'n': d.name, 'fn': d.n1 + ' ' + d.n2 };
      if (d.name == '{{ user }}') {
        user_pk = d.pk;
        user_name = d.n1 + ' ' + d.n2;
        console.log('User pk = ' + user_pk);
      }
    });
    var cg = []; // chargeable groups (with normal users)
    data.gs.forEach(function(d,j) {
      groups[d.pk] = { 'n': d.name, 'ru': d.ru, 'ra': d.ra };
      if (d.u.includes(user_pk)) {
        if (d.ru.length > 0 && user_group_pk == 0) {
          user_group_pk = d.pk; // default charging group
        }
        if (d.ra.length > 0) {
          is_admin = true;
          console.log('Is an administrator of ' + d.name);
          Array.prototype.push.apply(res_admin, d.ra);
        }
        if (d.ru.length > 0) {
          Array.prototype.push.apply(res_use, d.ru);
        }
      }
      if (d.ru.length > 0) {
        var s = '<option value=' + d.pk + '>' + d.name + '</option>';
        cg.push(s);
      }
    });

    var hsr = [];
    var hsru = [];
    // order resources by user group
    for (var i = 0; i < data.gs.length; ++i) {
      var usable = data.gs[i].u.includes(user_pk);
      var ga = data.gs[i].ru;
      if (ga.length > 0) {
        var s = '<optgroup label="' + data.gs[i].name + '">';
        hsr.push(s);
        if (usable) hsru.push(s);
        for (var j = 0; j < ga.length; ++j) {
          var rpk = ga[j];
          s = '<option value=' + rpk + '>' + resources[rpk].n + '</option>';
          hsr.push(s);
          if (usable) hsru.push(s);
        }
        s = '</optgroup>';
        hsr.push(s);
        hsru.push(s);
      }
    }
    // order users (should be sorted by makeconfig)
    var hsu = [];
    for (var i = 0; i < data.us.length; ++i) {
      hsu.push('<option value=' + data.us[i].pk + '>' +
               data.us[i].n1 + ' ' + data.us[i].n2 + '</option>');
    }
    // timezone list
    var hzs = [];
    for (var i = 0; i < data.tzs.length; ++i) {
      hzs.push('<option value="' + data.tzs[i] + '">' + data.tzs[i] + "</option>");
    }

    $('#select_resource').html(hsr.join('')).multiselect({
      //multiple: false,
      close: update_bookings,
      noneSelectedText: 'Select resources',
      selectedText: '# of # resources',
      selectedList: 1
    }).multiselectfilter();
    $('#select_user').html(hsu.join('')).multiselect({
      //multiple: false,
      close: update_bookings,
      noneSelectedText: 'Select users',
      selectedText: '# of # users',
      selectedList: 1
    }).multiselectfilter();
    $('#select_tz').html(hzs.join('')).multiselect({
      multiple: false,
      header: "Select timezone",
      selectedList: 1
    });

    $('#book_resource').html(hsru.join('')).multiselect({
      close: update_resource_selection,
      noneSelectedText: 'Select resources',
      selectedText: '# of # resources',
      selectedList: 1
    }).multiselectfilter();

    // superusers and admin potentially can book any user into resources,
    // while users really only book one's own behalf
    var bulist = (is_superuser || is_admin) ? hsu.join('') :
                 '<option value=' + user_pk + '>' + user_name + '</option>';
    $('#book_user').html(bulist).multiselect({
      close: check_request_conditions,
      multiple: false,
      noneSelectedText: 'Select user',
      selectedList: 1
    });
    $('#book_user').val(user_pk);
    $('#book_user').multiselect('refresh');

    $('#book_group').html(cg.join('')).multiselect({
      multiple: false,
      noneSelectedText: 'Group to charge',
      selectedList: 1
    });
    $('#book_group').val(user_group_pk);
    $('#book_group').multiselect('refresh');

    currentzone = data.tzs[0];
    $('#select_tz').val(currentzone); // initial timezone
    $('#select_tz').multiselect("refresh");
    $('#clear_date').button();
    $('#clear_time').button();
    $('#request_button').button({ disabled: true });
    $('#replace_button').button({ disabled: true });
    $('#delete_button').button({ disabled: true });

    // set default value based on group (but may not exist)
    $('#starttime').prop('value', old_default_begin);
    $('#stoptime').prop('value', old_default_end);

    var dt = new Date();
    var t = moment.tz([ dt.getFullYear(), dt.getMonth(), 1 ], currentzone);
    //t.date(1).startOf('day');
    displaybegin = t.valueOf();
    displayend = displaybegin + 92 * msday; // 92 days should clear 3 months
    console.log("initial displaybegin time = " + t.format());
    console.log("initial displaybegin = " + displaybegin);

    reload_bookings();
  });

  // buttons
  $('#request_button').click(function() {
    var reqs = read_booking_data();
    reqs['mm'] = 'r';
    console.log(JSON.stringify(reqs));
    //var qstring = window.location.href.slice(window.location.href.indexOf('?'));
    $.post('', JSON.stringify(reqs), function(data) {
      console.log(data);
      post_messages(data.messages);
      fill_bookings(data);
      check_request_conditions();
      update_selection();
      // still doesn't work!
    }, 'json');
  });

  $('#replace_button').click(function() {
    console.log('Replace button pressed');
    if ($('.bsel:checked').length != 1) return;
    var pk = $('.bsel:checked').parents('.blist').attr('id').substr(3);
    var reqs = read_booking_data();
    reqs['mm'] = 'e';
    reqs['pk'] = pk;
    $.post('', JSON.stringify(reqs), function(data) {
      post_messages(data.messages);
      fill_bookings(data);
      check_request_conditions();
      update_selection();
    }, 'json');
  });

  $('#delete_button').click(function() {
    console.log('Delete button pressed');
    // get list of pk's to delete
    if ($('.bsel:checked').length < 1) return;
    var pks = [];
    $('.bsel:checked').parents('.blist').each(function(j, e) {
      pks.push($(this).attr('id').substr(3));
    });
    var reqs = { 'mm': 'x', 'pk': pks };
    $.post('', JSON.stringify(reqs), function(data) {
      post_messages(data.messages);
      fill_bookings(data);
      check_request_conditions();
      update_selection();
    }, 'json');
  });

  $('#clear_date').click(function() {
    dsbegin = null;
    dsend = null;
    $('#startdate').html('From:');
    $('#stopdate').html('To:');
    update_selection();
    check_request_conditions();
  });

  $('#clear_time').click(function() {
    var spk = $('#book_resource').prop('value'); // just gets first selected resource
    if (spk != '') {
      var rpk = parseInt(spk);
      $('#starttime').prop('value', parseTimeStringZone(resources[rpk].dbt, resources[rpk].dz, currentzone));
      $('#stoptime').prop('value', parseTimeStringZone(resources[rpk].det, resources[rpk].dz, currentzone));
    }
    if (dsbegin != null && dsend != null) update_selection();
  });

  $('#select_tz').change(function() {
    // need to redraw calendar with new timezone.
    var oldzone = currentzone;
    // get new timezone
    currentzone = $('#select_tz').val()[0];
    // if there are time entries, change zone (use displaybegin to calculate offset)
    $('input.tpicker').each(function(i) {
      var s = $(this).prop('value');
      if (s == null || s == '') return;
      $(this).prop('value', parseTimeStringZone(s, oldzone, currentzone));
    });
    update_bookings();
  });

  // datepickers
  $('#begindate').datepicker({
    //defaultDate: '+1w',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 3,
    beforeShowDay: function(date) {
      // normal display if nothing else
      var val = [ true, '', 'not busy' ]
      var d = moment.tz([ date.getFullYear(), date.getMonth(), date.getDate() ], currentzone);
      var ts = d.valueOf();
      var iday = Math.floor((ts - displaybegin) / msday);
      var busy = busy_days[iday];
      if (busy) val = [ true, "busy", busy ];

      // check select range
      //console.log("beforeShowDay " + ts + " " + displaybegin);
      //console.log("beforeShowDay " + d.format() + " busy = " + busy);
      if (ts >= dsbegin && ts < dsend + msday) {
        if (busy) val = [ true, "conflicted", busy ];
        else val = [ true, "selected", 'not busy' ];
      }
      return val;
    },
    onChangeMonthYear: function(year, month, inst) {
      console.log("onChangeMonthYear " + year + " " + month);

      var d = moment.tz([ year, month-1, 1 ], currentzone);
      displaybegin = d.valueOf();
      displayend = displaybegin + 92 * msday;
      console.log("displaybegin = " + moment.tz(displaybegin, currentzone).format());
      // check whether we need more data
      var moredata = false;
      if (displaybegin < bdbegin) {
        moredata = true;
        bdbegin = displaybegin;
      }
      if (displayend > bdend) {
        moredata = true;
        bdend = displayend + 400 * msday;
      }
      if (moredata) reload_bookings();
      update_bookings(); // update list of days, remember month range 1-12
      // check range to see if need new data
    },
    onSelect: function(dateText) {
      var dssel = $('#begindate').datepicker('getDate'); // local time
      var ds = moment.tz([ dssel.getFullYear(), dssel.getMonth(), dssel.getDate(),
                           0, 0, 0, 0 ], currentzone);
      var dst = ds.valueOf();
      if (dsbegin == null && dsend == null) {
        dsbegin = dst;
        dsend = dst;
      } else if (dst < dsbegin) {
        dsbegin = dst;
      } else if (dst > dsend) {
        dsend = dst;
      } else if (dst - dsbegin < dsend - dst) {
        dsbegin = dst;
      } else {
        dsend = dst;
      }
      update_selection();
      if (dsbegin != null) $('#startdate').html('From: ' + moment.tz(dsbegin, currentzone).format(dformat));
      if (dsend != null) $('#stopdate').html('To: ' + moment.tz(dsend, currentzone).format(dformat));
      check_request_conditions();
    }
  });

});

</script>
{% endblock %}
