{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block title %}
Bookings list
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{% static "js/jquery-ui-1.11.4/jquery-ui.min.css" %}'>
<link rel="stylesheet" href='{% static "js/jquery.multiselect.css" %}'>
<link rel="stylesheet" href='{% static "js/jquery.multiselect.filter.css" %}'>
<script src='{% static "js/jquery-1.12.0.min.js" %}'></script>
<script src='{% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}'></script>
<script src='{% static "js/jquery-cookie-1.4.1/jquery.cookie.js" %}'></script>
<script src='{% static "js/jquery.multiselect.min.js" %}'></script>
<script src='{% static "js/jquery.multiselect.filter.js" %}'></script>
<script src='{% static "js/moment.min.js" %}'></script>
<script src='{% static "js/moment-timezone-with-data.min.js" %}'></script>

<style>
input.dpicker { width: 6em }
input.tpicker { width: 6em }
p.centered { text-align: center; }
tr.conflict { color: red }
table.tcentered {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
}
table.tboxed {
  border-collapse: collapse;
  border: 1px solid black;
}
td, th { padding: 5px; }
p#messages { color: red; }

table tbody tr td.busy a.ui-state-default {
  background-color: Green;
  background-image: none;
  color: White;
  font-weight: bold;
}
table tbody tr td.conflicted a.ui-state-default {
  background-color: Red;
  background-image: none;
  color: White;
  font-weight: bold;
}
table tbody tr td.selected a.ui-state-default {
  background-color: Blue;
  background-image: none;
  color: White;
  font-weight: bold;
}
</style>
{% endblock %}
{% block content %}

<p>
<select id='select_resource' multiple='multiple'></select>
<select id='select_user' multiple='multiple'></select>
<select id='select_tz' multiple='multiple'></select>
</p>

<p>
<div id='begindate'></div>
</p>

<p>
<table class='tboxed' border="1">
<tr>
  <td>Begin</td>
  <td id='startdate'></td>
  <td><input id='starttime' class='tpicker' type='text'></td>
</tr>
<tr>
  <td>End</td>
  <td id='stopdate'></td>
  <td><input id='stoptime' class='tpicker' type='text'></td>
</tr>
<tr>
  <td><button id='request_button'>Book</button></td>
  <td><button id='clear_date'>Clear date range</button></td>
  <td><button id='clear_time'>Default times</button></td>
</table>

<p id="messages"></p>

<p id='details'></p>

{% endblock %}
{% block scripts %}
<script>

// configuration information
var resources = [];
var users = [];
var groups = [];

// to add, busy_days[new Date()] = tooltip
// (actually should use moment objects instead?)
var busy_days = [];

// booking data
var bdata = [];
var lastfetchtime = $.now(); // ms since 1 Jan 1970
var msday = 24*60*60*1000; // ms in a day
// current range of booking data fetched
var bdbegin = lastfetchtime - 32*msday; // 31 days past
var bdend = lastfetchtime + 400*msday; // 400 days in future
// current first date being displayed (need to check timezone by now!)
// should always be set to first day of month, at beginning of day
var displaybegin = lastfetchtime; // actually overridden in initialization, along with displayend
var displayend = displaybegin + 92 * msday; // 92 days should clear 3 months
var currentzone = null;
// check sometime whether starts display in next month!

// date selection
var dsbegin = null; // Date (use getTime to compare)
var dsend = null;
var dtformat = 'ddd D MMM YYYY H:mm z'; // moment.tz format string
var dformat = 'ddd D MMM YYYY'; // moment.tz format string

// ways to update the displayed calendar
//   call whenever there is new data, or change display (such as timezone or resource list)
function update_bookings() {
  var bd = [];
  var s = [];
  s.push('<table class="tboxed"><tr><th>In</th><th>Out</th><th>Resource</th><th>Name</th><th>Group</th></tr>');
  for (var iday = 0; iday < 92; ++iday) bd[iday] = [];
  bdata.forEach(function(d, j) {
    console.log('update_bookings ' + d.tb + ' ' + displaybegin);
    if (d.te < displaybegin) return; // clearly ends before display range
    if (d.tb > displayend) return; // clearly begins after display range
    console.log('in scope ' + d.tb);
    //var dt0 = d.tb.clone().startOf('day');
    //var dt1 = d.te.clone().startOf('day');
    var dt0 = moment.tz(d.tb, currentzone);
    var dt1 = moment.tz(d.te, currentzone);
    s.push('<tr id="det' + d.bpk + '"><td>' + dt0.format(dtformat) + '</td><td>' +
                        dt1.format(dtformat) + '</td><td>' +
                        resources[d.r].n + '</td><td>' +
                        users[d.u].n + '</td><td>' +
                        groups[d.g] + '</td></tr>');
    //var daybook = dt0.isSame(dt1, 'day'); // color anyway (even if 0-length booking!)
    while (!dt0.isAfter(dt1, 'day')) {
      var iday = Math.floor((dt0.valueOf() - displaybegin) / msday);
      if (iday < 0 || iday >= 92) continue;
      if (bd[iday]) {
        bd[iday].push(users[d.u].n);
        //console.log("found a booking day " + iday + ": " + dt0.format());
      } else {
        bd[iday] = [ users[d.u].n ];
        //console.log("found a booking start " + iday + ": " + dt0.format());
      }
      //if (daybook) break;
      dt0.add(1, 'days');
    }
  });
  //console.log('bd ' + bd);
  // consolidate booking days
  //   whoops:  indexed by begin date/time at minute granularity; this lookup by day
  for (var iday = 0; iday < 92; ++iday) {
    if (bd[iday].length > 0) {
      busy_days[iday] = bd[iday].join(', ');
      //console.log("found a busy day " + iday + ": " + busy_days[iday]);
    } else {
      busy_days[iday] = null;
    }
  }
  //console.log("busy_days = " + busy_days);
  // list bookings
  s.push('</table>');
  $('#details').html(s.join(''));
  $('#begindate').datepicker('refresh');
}

function update_selection() {
  $('#begindate').datepicker('refresh');
  bdata.forEach(function(d, j) {
    if (dsbegin == null || dsend == null) {
      $('#det' + d.bpk).removeClass("conflict");
    } else {
      var rbegin = d.tb;
      var rend = d.te;
      if ((rbegin < dsend && rend > dsbegin) ||
          (dsbegin < rend && dsend > rbegin)) {
        $('#det' + d.bpk).addClass("conflict");
      } else {
        $('#det' + d.bpk).removeClass("conflict");
      }
    }
  });
}

function reload_bookings() {
  $.getJSON('{% url "swap:bookings_json" %}',
            { 'e0': Math.floor(bdbegin/1000), 'b1': Math.floor(bdend/1000) },
            fill_bookings);
}

// year, month, day, hour, minute (but server sends in UTC zone)
function from_date_array(a) {
  //return new Date(a[0], a[1]-1, a[2], a[3], a[4]);
  var b = [ a[0], a[1]-1, a[2], a[3], a[4], 0, 0 ];
  return moment.utc(b);
}

function from_date_array_zone(a, z) {
  var b = [ a[0], a[1]-1, a[2], a[3], a[4], 0, 0 ];
  return moment.tz(b, z);
}

function fill_bookings(data) {
  console.log('fill_bookings()');
  console.log(data);
  var z = currentzone;
  bdata = [];
  data.b.forEach(function(d,j) {
    var a = { 'u': d.u, 'b': d.b, 'g': d.g, 'r': d.r, 'bpk': d.bpk,
              'tb': d.tb * 1000,
              'te': d.te * 1000,
              'tr': from_date_array(d.tr),
              'tm': from_date_array(d.tm) };
    bdata.push(a);
  });
  update_bookings();
  // need to do a deep copy of data to current_data;
  // or change update_days to select from persistent selectors
}

$.datepicker.setDefaults({
  //"dateFormat": "dd/mm/yy",
  "dateFormat": "dd M yy"
});

// based on http://www.timlabonne.com/2013/07/parsing-a-time-string-with-javascript/
// understands 1pm, 1:00pm, 1:00p, 13:00.  Returns NaN if can't parse at all.
function parseTime(timeStr, dt) {
  if (!dt) {
    dt = new Date();
  }
 
  var time = timeStr.match(/(\d+)(?::(\d\d))?\s*(p?)/i);
  if (!time) {
    return NaN;
  }
  var hours = parseInt(time[1], 10);
  dt.setHours(hours);
  dt.setMinutes(parseInt(time[2], 10) || 0);
  dt.setSeconds(0, 0);
  return dt;
}

function parseTimeString(timeStr) {
  var time = timeStr.match(/(\d+)(?::(\d\d))?\s*(p?)/i);
  if (!time) {
    return null;
  }
  var v = { 'h': parseInt(time[1], 10),
            'm': parseInt(time[2], 10) || 0 }
  return v;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var csrftoken = $.cookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
//"csrfmiddlewaretoken" is a key in your posted data,for example,
//when you need to ajax login,your posted data may like this:
// {'username':'username','password':'password',
//  'csrfmiddlewaretoken':'CSRF-TOKEN-V<U+200C><U+200B>ALUE'} – 

var old_default_begin = "";
var old_default_end = "";
var old_default_zone = "";

$(document).ready(function() {

  // get configuration information
  $.getJSON('{% static "json/config.json" %}', function(indata) {
    data = indata.data;
    data.res.forEach(function(d,j) {
      resources[d.pk] = {
        'n': d.name,
        'dbt': d.dbt,
        'det': d.det };
    });
    data.us.forEach(function(d,j) { users[d.pk] = { 'n': d.name }; });
    var hsr = [];
    // order resources by user group
    for (var i = 0; i < data.gs.length; ++i) {
      var ga = data.gs[i].ru;
      if (ga.length > 0) {
        hsr.push('<optgroup label="' + data.gs[i].name + '">');
        for (var j = 0; j < ga.length; ++j) {
          var rpk = ga[j];
          hsr.push('<option value=' + rpk + '>' + resources[rpk].n + '</option>');
        }
        hsr.push('</optgroup>');
      }
    }
    // order users (should be sorted by makeconfig)
    var hsu = [];
    for (var i = 0; i < data.us.length; ++i) {
      hsu.push('<option value=' + data.us[i].pk + '>' +
               data.us[i].n1 + ' ' + data.us[i].n2 + '</option>');
    }
    // timezone list
    var hzs = [];
    for (var i = 0; i < data.tzs.length; ++i) {
      hzs.push('<option value="' + data.tzs[i] + '">' + data.tzs[i] + "</option>");
    }

    $('#select_resource').html(hsr.join('')).multiselect({
      //multiple: false,
      close: update_bookings,
      noneSelectedText: 'Select resources',
      selectedText: '# of # resources',
      selectedList: 1
    }).multiselectfilter();
    $('#select_user').html(hsu.join('')).multiselect({
      //multiple: false,
      noneSelectedText: 'Select users',
      selectedText: '# of # users',
      selectedList: 1
    }).multiselectfilter();
    $('#select_tz').html(hzs.join('')).multiselect({
      multiple: false,
      header: "Select timezone",
      selectedList: 1
    });
    currentzone = data.tzs[0];
    $('#select_tz').val(currentzone); // initial timezone
    $('#select_tz').multiselect("refresh");
    $('#clear_date').button();
    $('#clear_time').button();
    $('#request_button').button();

    // set default value based on group (but may not exist)
    $('#starttime').prop('value', old_default_begin);
    $('#stoptime').prop('value', old_default_end);

    data.gs.forEach(function(d,j) { groups[d.pk] = d.name });

    var dt = new Date();
    var t = moment.tz([ dt.getFullYear(), dt.getMonth(), 1 ], currentzone);
    //t.date(1).startOf('day');
    displaybegin = t.valueOf();
    displayend = displaybegin + 92 * msday; // 92 days should clear 3 months
    console.log("initial displaybegin time = " + t.format());
    console.log("initial displaybegin = " + displaybegin);

    reload_bookings();
  });

  // buttons
  $('#request_button').click(function() {
    var bdt = new Date();
    var edt = new Date();
    if (dsbegin == null || dsend == null) return;

    var db = moment.tz(dsbegin, currentzone);
    var s = $('#starttime').prop('value');
    if (s == null || s == "") return;
    //if (parseTime(s, bdt) == NaN) return;
    var t = parseTimeString(s);
    if (t == null) return;
    db.hour(t.h).minute(t.m);

    var de = moment.tz(dsend, currentzone);
    s = $('#stoptime').prop('value');
    if (s == null || s == "") return;
    //if (parseTime(s, edt) == NaN) return;
    t = parseTimeString(s);
    if (t == null) return;
    de.hour(t.h).minute(t.m);

    var reqs = { 'm': 'r',
                 'r': $('#select_resource').val(), 
                 'b': db.valueOf(),
                 'e': de.valueOf(),
                 'z': currentzone
               };
    console.log(JSON.stringify(reqs));
    //var qstring = window.location.href.slice(window.location.href.indexOf('?'));
    $.post('', JSON.stringify(reqs), function(data) {
      var msg = data.messages;
      var t = [];
      if (msg.length > 0) {
        t.push('<ul>');
        for (var i = 0; i < msg.length; ++i) t.push('<li>' + msg[i]);
        t.push('</ul>');
        $('#messages').html(t.join(''));
      } else {
        $('#messages').html('');
      }
    }, 'json');
    reload_bookings();
  });
  $('#clear_date').click(function() {
    dsbegin = null;
    dsend = null;
    $('#startdate').html('');
    $('#stopdate').html('');
    update_selection();
  });
  $('#clear_time').click(function() {
    var rpk = $('#select_resource').val();
    if (rpk != null) {
      $('#starttime').prop('value', resources[rpk].dbt);
      $('#stoptime').prop('value', resources[rpk].det);
    }
    if (dsbegin != null && dsend != null) update_selection();
  });


  $('#select_tz').change(function() {
    // need to redraw calendar with new timezone.
    // also move dsbegin and dsend to new timezone.

    // get timezone
    currentzone = $('#select_tz').val()[0];
    // update booking times to new timezone
    //bdata.forEach(function(d, j) {
    //  d.tb.tz(currentzone);
    //  d.te.tz(currentzone);
    //});
    update_bookings();
  });

  $('#select_resource').change(function() {
    var r = $('#select_resource').val();
    var rpk = 0;
    for (var i = 0; i < data.res.length; ++i) {
      if (r == data.res[i].pk) {
        rpk = i;
        break;
      }
    }
    var v = $('#starttime').prop('value');
    if (v == old_default_begin || v == "" || old_default_begin == "") {
      old_default_begin = data.res[rpk].dbt;
      $('#starttime').prop('value', old_default_begin);
    }
    v = $('#stoptime').prop('value');
    if (v == old_default_end || v == "" || old_default_end == "") {
      old_default_end = data.res[rpk].det;
      $('#stoptime').prop('value', old_default_end);
    }
    v = $('#select_tz').prop('value');
    if (v == old_default_zone || v == "" || old_default_zone == "") {
      old_default_zone = data.res[rpk].dz;
      $('#select_tz').prop('value', old_default_zone);
    }
  });

  // datepickers
  $('#begindate').datepicker({
    defaultDate: '+1w',
    changeMonth: true,
    changeYear: true,
    numberOfMonths: 3,
    beforeShowDay: function(date) {
      // normal display if nothing else
      var val = [ true, '', 'not busy' ]
      var d = moment.tz([ date.getFullYear(), date.getMonth(), date.getDate() ], currentzone);
      var ts = d.valueOf();
      var iday = Math.floor((ts - displaybegin) / msday);
      var busy = busy_days[iday];
      if (busy) val = [ true, "busy", busy ];

      // check select range
      //console.log("beforeShowDay " + ts + " " + displaybegin);
      //console.log("beforeShowDay " + d.format() + " busy = " + busy);
      if (ts >= dsbegin && ts < dsend) {
        if (busy) val = [ true, "conflicted", busy ];
        else val = [ true, "selected", 'not busy' ];
      }
      return val;
    },
    onChangeMonthYear: function(year, month, inst) {
      console.log("onChangeMonthYear " + year + " " + month);

      var d = moment.tz([ year, month-1, 1 ], currentzone);
      displaybegin = d.valueOf();
      displayend = displaybegin + 92 * msday;
      console.log("displaybegin = " + moment.tz(displaybegin, currentzone).format());
      // check whether we need more data
      var moredata = false;
      if (displaybegin < bdbegin) {
        moredata = true;
        bdbegin = displaybegin;
      }
      if (displayend > bdend) {
        moredata = true;
        bdend = displayend + 400 * msday;
      }
      if (moredata) reload_bookings();
      update_bookings(); // update list of days, remember month range 1-12
      // check range to see if need new data
    },
    onSelect: function(dateText) {
      var dssel = $('#begindate').datepicker('getDate'); // local time
      var ds = moment.tz([ dssel.getFullYear(), dssel.getMonth(), dssel.getDate(),
                           0, 0, 0, 0 ], currentzone);
      var dst = ds.valueOf();
      if (dsbegin == null) {
        dsbegin = dst;
      } else if (dsend == null) {
        if (dst < dsbegin) {
          dsend = dsbegin;
          dsbegin = dst;
        } else {
          dsend = dst;
        }
      } else if (dst < dsbegin) {
        dsbegin = dst;
      } else if (dst > dsend) {
        dsend = dst;
      } else if (dst - dsbegin < dsend - dst) {
        dsbegin = dst;
      } else {
        dsend = dst;
      }
      update_selection();
      if (dsbegin != null) $('#startdate').html(moment.tz(dsbegin, currentzone).format(dformat));
      if (dsend != null) $('#stopdate').html(moment.tz(dsend, currentzone).format(dformat));
    }
  });

});

</script>
{% endblock %}
