{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% block title %}
Bookings list
{% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='{% static "js/jquery.dataTables.min.css" %}'>
<link rel="stylesheet" href='{% static "js/buttons.dataTables.min.css" %}'>
<link rel="stylesheet" href='{% static "js/jquery-ui-1.11.4/jquery-ui.min.css" %}'>
<script src='{% static "js/jquery-1.12.0.min.js" %}'></script>
<script src='{% static "js/jquery.dataTables.min.js" %}'></script>
<script src='{% static "js/dataTables.buttons.min.js" %}'></script>
<script src='{% static "js/buttons.colVis.min.js" %}'></script>
<script src='{% static "js/buttons.print.min.js" %}'></script>
<script src='{% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}'></script>
<script src='{% static "js/jquery-cookie-1.4.1/jquery.cookie.js" %}'></script>

<style>
input.dpicker { width: 6em }
input.tpicker { width: 6em }
p.centered { text-align: center; }
table.tcentered {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
}
td, th { padding: 5px; }
ul#messages { color: red; }
</style>
{% endblock %}
{% block content %}

<ul id="messages">
{% for message in messages %}
  <li>{{ message }}</li>
{% empty %}
{% endfor %}
</ul>

<table class='tcentered' border='1'>
<tr>
  <td><select id='res'><option value=""></option></select></td>
  <td><input id='startdate' class='dpicker' type='text'></td>
  <td><input id='stopdate' class='dpicker' type='text'></td>
  <td></td>
</tr>
<tr>
  <td><select id='tzs'><option value=""></option></select></td>
  <td><input id='starttime' class='tpicker' type='text'></td>
  <td><input id='stoptime' class='tpicker' type='text'></td>
  <td><button type='button' id='requestbutton'>Request</button></td>
</table>

<table id='bookings' class='tcentered' border='1'>
<tr>
  <th>Approved</th>
  <th>Begin date</th>
  <th>End date</th>
  <th>Resource</th>
  <th>Name</th>
</tr>
{% localtime on %}
{% for booking in bookings %}
<tr>
  <td>{% if booking.approval != None %}{{ booking.approval.user }}{% else %}No{% endif %}
  <td>{{ booking.begin_time|date:"r" }}</td>
  <td>{{ booking.end_time|date:"r" }}</td>
  <td>{{ booking.resource }}</td>
  <td>{{ booking.user }}</td>
</tr>
{% endfor %}
{% endlocaltime %}
</table>

{% endblock %}
{% block scripts %}
<script>
$.datepicker.setDefaults({
  //"dateFormat": "dd/mm/yy",
  "dateFormat": "dd M yy",
});

// based on http://www.timlabonne.com/2013/07/parsing-a-time-string-with-javascript/
// understands 1pm, 1:00pm, 1:00p, 13:00.  Returns NaN if can't parse at all.
function parseTime(timeStr, dt) {
  if (!dt) {
    dt = new Date();
  }
 
  var time = timeStr.match(/(\d+)(?::(\d\d))?\s*(p?)/i);
  if (!time) {
    return NaN;
  }
  var hours = parseInt(time[1], 10);
  dt.setHours(hours);
  dt.setMinutes(parseInt(time[2], 10) || 0);
  dt.setSeconds(0, 0);
  return dt;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var csrftoken = $.cookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
//"csrfmiddlewaretoken" is a key in your posted data,for example,
//when you need to ajax login,your posted data may like this:
// {'username':'username','password':'password',
//  'csrfmiddlewaretoken':'CSRF-TOKEN-V<U+200C><U+200B>ALUE'} – 

var old_default_begin = "";
var old_default_end = "";
var old_default_zone = "";

$(document).ready(function() {

  // get configuration information
  $.getJSON('{% static "json/config.json" %}', function(indata) {
    data = indata.data;
    var selres = $('#res');
    data.res.forEach(function(d,j) {
      selres.append('<option value="' + d.pk + '">' + d.name + '</option>');
    });
    // set default value based on group (but may not exist)
    var seltzs = $('#tzs');
    data.tzs.forEach(function(d,j) {
      seltzs.append('<option value="' + d + '">' + d + '</option>');
    });
    //seltzs.val(data.tzs[0]);
    $('#starttime').prop('value', old_default_begin);
    $('#stoptime').prop('value', old_default_end);
    $('#tzs').val(old_default_zone);
  });

  // datepickers
  $('#startdate').datepicker({
    defaultDate: '+1w',
    changeMonth: true,
    numberOfMonths: 3,
    onClose: function(selectedDate) {
      $('#stopdate').datepicker('option', 'minDate', selectedDate);
    }
  });
  $('#stopdate').datepicker({
    defaultDate: '+1w',
    changeMonth: true,
    numberOfMonths: 3,
    onClose: function(selectedDate) {
      $('#startdate').datepicker('option', 'maxDate', selectedDate);
    }
  });

  // buttons
  $('#requestbutton').click(function() {
    var bdt = $('#startdate').datepicker('getDate');
    parseTime($('#starttime').prop('value'), bdt);
    var edt = $('#stopdate').datepicker('getDate');
    parseTime($('#stoptime').prop('value'), edt);
    var reqs = { 'm': 'r',
                 'r': $('#res').val(), 
                 'b': [ bdt.getFullYear(), bdt.getMonth()+1, bdt.getDate(),
                        bdt.getHours(), bdt.getMinutes() ],
                 'e': [ edt.getFullYear(), edt.getMonth()+1, edt.getDate(),
                        edt.getHours(), edt.getMinutes() ],
                 'z': $('#tzs').val()
               };
    console.log(JSON.stringify(reqs));
    //var qstring = window.location.href.slice(window.location.href.indexOf('?'));
    $.post(window.location.href, JSON.stringify(reqs)); // reload page?
  });
  //$('#tzs').select(function() {
  //});
  $('#res').change(function() {
    var r = $('#res').val();
    var rpk = 0;
    for (var i = 0; i < data.res.length; ++i) {
      if (r == data.res[i].pk) {
        rpk = i;
        break;
      }
    }
    var v = $('#starttime').prop('value');
    if (v == old_default_begin || v == "") {
      old_default_begin = data.res[rpk].dbt;
      $('#starttime').prop('value', old_default_begin);
    }
    v = $('#stoptime').prop('value');
    if (v == old_default_end || v == "") {
      old_default_end = data.res[rpk].det;
      $('#stoptime').prop('value', old_default_end);
    }
    v = $('#tzs').prop('value');
    if (v == old_default_zone || v == "") {
      old_default_zone = data.res[rpk].dz;
      $('#tzs').prop('value', old_default_zone);
    }
  });

});
</script>
{% endblock %}
